.login {
    position: relative;
}
.header-logo {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: var(--z-highest);
}

.form-list {
    width: 100%;
}

.form-header {
    margin-bottom: calc(10 * var(--spacing-sm-1));
    font-weight: 600;

    &__large {
        font-size: 2.2rem;
    }
    &__small {
        font-size: 1.2rem;
    }
}

.form-group {
    margin-left: 8px;
    margin-right: -18px;
}
.form-img {
    position: relative;
    background-size: contain;
    background-position: center;
    width: 100%;
    margin-bottom: calc(10 * var(--spacing-sm-1));

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(15, 12, 12, 0.6);
    }
}

.form-item {
    margin-bottom: -18px;
}

.form-info {
    position: absolute;
    top: 8%;
    left: 34%;
    height: 88%;
    padding: 5rem 5.8rem 5rem 3.6rem;
    background-color: rgba(0, 0, 0, 0.75);
}

.form-button {
    font-size: 1rem;
    color: var(--contrast-color);
    width: 340px;
    padding: 1rem 0;
}
.form-button span:hover {
    color: var(--contrast-color);
}

.form-change {
    color: var(--contrast-color);
    text-align: center;
    margin-top: -20px;
}
.form-signup {
    font-size: var(--font-s-md);
    color: var(--primary-color);
}

.form-input {
    border-bottom: 2px solid transparent !important;
}
.form-input:hover {
    border-bottom: 2px solid var(--primary-color) !important;
}

.form-input:focus {
    border-bottom: 2px solid var(--primary-color);
}

.form-input {
    border: none;
}

.form-btn-login {
    height: 42px;
    width: 330px;
}
