.wrapper-home {
    margin-top: 66px;
    // max-width: 1110px;
}

.container-home {
    margin-top: -270px;
}

.anticon-vertical-align-top {
    color: var(--primary-color);
}
.botchat{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    margin-bottom: 34px;
    z-index: 999;
}