.content-page{
    padding:var(--spacing-sm-1);
    
    .ant-row{
    padding-left: 60px;
    }

    .header-list-film{
        display: none;
    }

    .content-list-film{
        margin-top: 0px;
        margin-left: 6px;
        margin-right: 6px;
    }
   
} 