.content-page-love-movies{
    padding:var(--spacing-sm-1);
    
    .ant-row{
        padding-left: 60px;
    }

    .header-list-film{
        // display: none;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .content-list-film{
        margin-top: 0px;
        margin-left: 6px;
        margin-right: 6px;
    }
   
} 