.poster {
    z-index: var(--z-highest);

    .carousel.carousel-slider .control-arrow {
        height: 80%;
        padding-right: var(--spacing-md);
        padding-left: var(--spacing-md);

        &::before {
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
        }
    }
    .control-next.control-arrow:before {
        border-left: 15px solid #fff;
    }
    .control-prev.control-arrow:before {
        border-right: 15px solid #fff;
    }

    &__item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 35%;
        height: 100%;
        background-image: linear-gradient(to right, rgba(68, 34, 34, 0.9), #3e323200);
    }

    &__item::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, #111111, rgba(0, 0, 0, 0.2));
    }

    &__image {
        height: 90%;
    }

    &__image > img {
        margin: auto;
        display: block;
        width: 100%;
    }
    &__image-overlay {
        position: absolute;
        padding: 5rem;
        bottom: 0px;
        height: 90%;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-start;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
        opacity: 1;
    }
    &__image-overlay:hover {
        opacity: 1;
    }

    &__image-title {
        color: var(--contrast-color);
        font-weight: 700;
        margin-bottom: 2rem;
        text-align: left;
        letter-spacing: 1.1px;
        width: 40%;
        transition-delay: 0.3s, 0.3s;
    }

    &__image-runtime {
        margin-bottom: 1rem;
    }

    &__image-description {
        color: var(--contrast-color);
        margin-bottom: 3rem;
        display: flex;
        text-align: left;
        width: 35%;
        line-height: 1.6;
        overflow: hidden;
        position: relative;
        font-weight: normal;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }

    &__movie-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__movie-info::after {
        content: '';
        margin: 0px 6px;
        height: 12px;
        width: 2px;
        background: rgba(255, 255, 255, 0.2);
    }

    &__image-listInfo {
        margin-bottom: 18px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image-listButton {
        display: flex;
        align-items: start;
        justify-content: center;
    }
    &__image-notifi {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 600;
    }
    &__image-close {
        color: var(--contrast-color);
        width: 80%;
        padding: 10px 0 30px 0;
        margin-top: 20px;
        right: 10%;
    }
    &__image-notifititle {
        margin-bottom: 10px;
        text-align: center;
    }

    &__image-padding {
        font-size: 0.9rem;
        padding: 1px 5px;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 2px;
        margin-right: 0.7rem;
        color: #e8e4e4;
    }
}

.btn {
    border: 3px solid transparent;
    background-color: var(--primary-color);
    color: var(--contrast-color);
    border-radius: 8px;
    padding: 0.7rem 1.8rem;
    font-weight: 600;
    transition: box-shadow 0.3s ease-out;
    margin-right: 20px;
    margin-bottom: 21rem;

    &-icon {
        font-size: 20px;
        margin-right: 8px;
    }

    &:hover {
        box-shadow: 0px 0px 5px 10px #ff00004d;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14%;
    background-image: linear-gradient(to bottom, rgba(37, 35, 35, 0.7), #897e7e00);
}

.btn-heart {
    margin-bottom: 21rem;
    background: #272727;
    padding: 13px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 22px;
}

// .slide-item {
//     .poster__image-title,
//     .poster__image-runtime,
//     .poster__image-listInfo,
//     .poster__image-description,
//     .poster__image-listButton {
//         transition: transform 0.1s ease-in-out, opacity 0.1s ease;
//         transform: translateX(100%);
//         opacity: 0;

//         &.visible {
//             transform: translateX(0);
//             opacity: 1;
//         }
//     }
// }
