.watching-container {
    position: relative;
    margin-top: var(--spacing-lg);

    .watching-info-container {
        margin-top: var(--spacing-md);
        font-size: var(--font-s-md);
        display: flex;
        gap: calc(4 * var(--spacing-lg-1));

        .watching-main-info-container {
            flex: 0.8;
        }

        .watching-sub-info-container {
            flex: 0.3;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-lg);
            padding-top: var(--spacing-sm);

            .watching-feature {
                display: flex;
                gap: var(--spacing-md);

                .watching-feature-icon {
                    font-size: var(--font-s-lg);
                }
            }

            .watching-sub-info-item {
                margin-bottom: var(--spacing-sm-2);

                .watching-sub-info-item-title {
                    color: var(--sub-color);
                }
            }
        }
    }
    .watching-list-container {
        

        .watching-list-heading {
            display: flex;
            gap: var(--spacing-lg);
            align-items: center;

            .watching-list-title {
                color: var(--contrast-color);
            }

            .watching-list-sub-info {
                display: flex;
                
                .watching-list-sub-info-item {
                    padding: 0 var(--spacing-sm-2);
                    border-left: 1px solid var(--sub-color);

                    &:first-child {
                        border-left: none;
                        padding-left: 0;
                    }
                }
            }

        }
        .session-section {
            display: flex;
            gap: var(--spacing-md);
            align-items: center;
            
            .session-section-select {
                color: var(--contrast-color);
                display: flex;
                align-items: center;

                &:hover {
                    color: var(--primary-color);
                    border-color: var(--primary-color);
                }
            }

            .session-section-episode {
                font-size: var(--font-s-sm);
            }
        }

        .watching-list {
            margin-top: var(--spacing-md);
            position: relative;

            .watching-list-icon {
                position: absolute;
                padding: var(--spacing-sm-1);
                background-color: var(--primary-color);
                cursor: pointer;
                z-index: var(--z-high);
                top: 50%;
                transform: translateY(-50%);
            }

            .left-move-container {
                left: 0;
            }

            .right-move-container {
                right: 0;
            }

            .list-col {
                display: flex;
                justify-content: center;
            }
        }
    }
}