.watching-container {
    position: relative;
    padding-top: var(--spacing-lg);

    .watching {
        display: flex;
        flex-direction: row;
        margin: 0 var(--spacing-lg-1);
        margin-top: var(--spacing-lg);

        .watching-player-container {
            position: relative;

            .player {
                width: 100%;

                .bottom-box-shadow {
                    box-shadow: inset 0 -25px 20px -10px rgba(0, 0, 0, 0.5);
                    height: 50vh;
                }
            }
        }

        .watching-list-film-container {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md);
            padding: 0 0 0 var(--spacing-lg);
            flex: 1/3;
        }
    }
    .watching-info-container {
        margin: 0 var(--spacing-md);
        margin-top: var(--spacing-md);
        font-size: var(--font-s-md);
        display: flex;
        gap: calc(var(--spacing-lg-1));
        padding: 0 var(--spacing-lg);

        .watching-main-info-container {
            flex: 1;
        }

        .watching-sub-info-container {
            flex: 0.3;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-lg);
            padding-top: var(--spacing-lg);

            .watching-feature {
                display: flex;
                gap: var(--spacing-md);

                .watching-feature-icon {
                    font-size: var(--font-s-lg);
                }
            }

            .watching-sub-info-item {
                margin-bottom: var(--spacing-sm-2);

                .watching-sub-info-item-title {
                    color: var(--sub-color);
                }
            }
        }
    }

    .box-comment {
        background-color: var(--contrast-color);
        border-radius: var(--border-r-md);
        margin: 0 var(--spacing-lg);
        margin-top: var(--spacing-lg);
        padding: var(--spacing-sm-2) var(--spacing-md);
    }
    .comment-container {
        margin: var(--spacing-lg) var(--spacing-md);
        margin-top: var(--spacing-lg);
        padding: var(--spacing-sm-2) var(--spacing-lg);
    }
}
.ant-popover-inner {
    cursor: pointer;
}
