.watching-container {
    position: relative;
    margin-top: var(--spacing-lg);

    .watching-info-container {
        margin-top: var(--spacing-md);
        font-size: var(--font-s-md);
        display: flex;
        gap: calc(4 * var(--spacing-lg-1));

        .watching-main-info-container {
            flex: 0.8;
        }

        .watching-sub-info-container {
            flex: 0.3;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-lg);
            padding-top: var(--spacing-sm);

            .watching-feature {
                display: flex;
                gap: var(--spacing-md);

                .watching-feature-icon {
                    font-size: var(--font-s-lg);
                }
            }

            .watching-sub-info-item {
                margin-bottom: var(--spacing-sm-2);

                .watching-sub-info-item-title {
                    color: var(--sub-color);
                }
            }
        }
    }
    
    .watching-list-film-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
    }

    .box-comment {
        background-color: var(--contrast-color);
        margin-top: var(--spacing-lg-1);
        border-radius:  var(--border-r-md);
    }

}