.list-container {
    // margin: 0 var(--spacing-lg);

    .list-heading {
        .list-title {
            color: var(--contrast-color);
            font-size: 22px;
        }

        .hidden {
            display: none;
        }

        .list-sub-info {
            display: flex;

            .list-sub-info-item {
                padding: 0 var(--spacing-sm-2);
                border-left: 1px solid var(--sub-color);

                &:first-child {
                    border-left: none;
                    padding-left: 0;
                }
            }
        }
    }
    .session-section {
        display: none;
        gap: var(--spacing-md);
        align-items: center;
        margin-bottom: var(--spacing-md);

        .session-section-select {
            color: var(--contrast-color);
            display: flex;
            align-items: center;

            &:hover {
                color: var(--primary-color);
                border-color: var(--primary-color);
            }
        }

        .session-section-episode {
            font-size: var(--font-s-sm);
        }

        &.show {
            display: flex;
        }
    }

    .list {
        z-index: var(--z-high);
        .list-content {
            margin: 1rem 4.2rem;
        }
        position: relative;

        .icon-list-container {
            position: absolute;
            padding: var(--spacing-sm-1);
            cursor: pointer;
            z-index: var(--z-high);
            height: 100%;
            width: 50px;
            display: flex;
            align-items: center;
            margin: 0 10px;

            .icon-list {
                font-size: var(--font-s-lg-2);
            }
        }

        .left-move-container.hide,
        .right-move-container.hide {
            display: none;
        }

        .left-move-container {
            left: 0;
            // background: linear-gradient(90deg, var(--main-color), rgba(255, 255, 255, 0) 100%);
            justify-content: flex-start;
        }

        .right-move-container {
            right: 0;
            // background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--main-color) 100%);
            justify-content: flex-end;
        }

        .list-col {
            display: flex;
            justify-content: center;
        }
    }
}
