.film-item-container {
    width: 200px;
    height: 290px;
    // background-color: var(--contrast-color);
    border-radius: var(--border-r-sm);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;

    .film-item-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: scale 0.2s ease-in-out;
    }

    &:hover .film-item-image {
        scale: 1.05;
    }

    .film-item-info {
        position: absolute;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        width: 180px;
        bottom: var(--spacing-md);
        padding: var(--spacing-sm-1);
        border-radius: var(--border-r-sm);
        overflow: hidden;
        z-index: var(--z-high);
        color: var(--contrast-color);

        .film-item-title {
            font-size: var(--font-s-md);
            font-weight: 500;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .film-item-sub-info {
            display: flex;
            justify-content: flex-end;
            font-weight: 300;
            font-size: var(--font-s-sm-1);
        }
    }
    .btn-close {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-s-md);
        border-radius: 50%;
        top: 3px;
        right: 5px;
        width: 24px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.45);

        &:hover {
            color: var(--primary-color);
        }
    }
}

.btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.2rem;
    color: #cf1a1a;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.film-item-container:hover .film-item-image {
    transform: scale(1.05);
}

.film-item-container:hover .film-item-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.film-item-container:hover .btn-play {
    opacity: 1;
}
