.ant-dropdown .ant-dropdown-menu{
    background-color:#1E1E1E;
    // color:var(--sub-color);
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item{
    background-color: #1E1E1E;
    color:var(--sub-color);

    &:hover{
        color:var(--primary-color);
    }
}
