.wrapper-header {
    position: fixed;
    background-color: transparent;
    color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    z-index: var(--z-highest);
    padding-top: var(--spacing-sm-1);
    padding: 0 20px;
}

.scroll-header {
    background-color: #151515ce;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.logo {
    margin-right: calc(var(--spacing-lg) + var(--spacing-md));
}

.menu-items {
    display: flex;
    flex-direction: row;
    color: var(--contrast-color);
    font-size: var(--font-s-md);
    padding: 12px var(--spacing-sm-2) 0 var(--spacing-sm-2);
    cursor: pointer;
    text-shadow: 0px 0px 1px #e8e8e8;
}

.btn-vip {
    border-color: #f2bf83 !important;
    background-color: #f2bf83 !important;
    color: rgb(50, 44, 0) !important;
    box-shadow: 0 2px 0 rgba(106, 96, 15, 0.1);

    &:hover {
        background-color: #e4b47d !important;
        border-color: #e4b47d !important;
        color: rgb(50, 44, 0) !important;
    }
}

.notification {
    position: relative;
    cursor: pointer;

    .notification-btn {
        padding: var(--spacing-sm-2);
        font-size: var(--font-s-lg);
        color: var(--contrast-color);
    }
}

.number-notification {
    position: absolute;
    font-size: var(--font-s-sm-1);
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #f1f1f2;
    top: 7%;
    left: 18px;
    padding: 0px 3px;
}

.avatar {
    background-color: #f2bf83;
    color: rgb(50, 44, 0) !important;
    cursor: pointer;
    font-size: 1rem;
}

.icon-login {
    padding: var(--spacing-sm-2);
    font-size: var(--font-s-lg);
    color: var(--contrast-color);
    cursor: pointer;
}

.icon-history {
    padding: var(--spacing-sm-2);
    font-size: var(--font-s-lg);
    color: var(--contrast-color);
    cursor: pointer;
}
