.wrapper-header{
    position: fixed;
    background-color: transparent;
    color:black;
    top: 0;
    left: 0;
    width: 100%;
}
.logo{
    margin-right: calc(var(--spacing-lg) + var(--spacing-md));
}
.menu-items{
    display: flex;
    flex-direction: row;
    color: var(--contrast-color);
    font-size: var(--font-s-md);
    padding: 0 var(--spacing-sm-2);
    cursor: pointer;
}
.btn-vip{
    background-color: #6a600f;
    color:#FFE300;
    box-shadow: 0 2px 0 rgba(106, 96, 15, 0.1);

    &:where(.css-dev-only-do-not-override-i0102m).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
        color: #6a600f;
        background-color: #FFE300;
    }
}
.notification{
    position: relative;
    cursor: pointer;

    .notification-btn{
        padding:var(--spacing-sm-2);
        font-size: var(--font-s-lg);
        color: var(--contrast-color);
        
    }
    
}
.number-notification{
    position: absolute;
    font-size: var(--font-s-sm-1);
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #f1f1f2;
    top: 7%;
    left: 18px;
    padding: 0px 3px;
}
.avatar{
    background-color: #6a600f;
    cursor: pointer;
}
.login{
    padding:var(--spacing-sm-2);
    font-size: var(--font-s-lg);
    color: var(--contrast-color);
    cursor: pointer;
}
