.item-contain-history {
    .film-item-container-history {
        width: 325px;
        height: 190px;
        border-radius: var(--border-r-sm);
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;

        .ant-skeleton.ant-skeleton-element {
            width: 100% !important;
            height: 100% !important;
            background-color: var(--sub-color) !important;

            .ant-skeleton-image {
                width: 100% !important;
                height: 100% !important;
            }
        }

        .film-item-image {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: scale 0.2s ease-in-out;
        }
        .btn-play {
            position: absolute;
            bottom: 4%;
            right: 2%;
            border-radius: 100px;
            background-color: var(--primary-color);
            padding: 0px 6px;
            font-size: 1.6rem;
            transition: opacity 0.3s ease;
        }
    }
    .film-item-title {
        margin-top: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        color: var(--contrast-color) !important;
    }
    :where(.css-dev-only-do-not-override-1vr7spz) a {
        font-size: 1.1rem;
    }
    :where(.css-dev-only-do-not-override-1vr7spz) a:hover {
        color: var(--contrast-color);
    }

    .film-item-container-history:hover {
        scale: 1.02;
    }

    .film-button-proccess {
        text-align: center;
        width: 140px;
        height: 45px;
        background: rgba(45, 47, 52, 0.4);
        border-radius: 4px;
        color: white;
        border: none;
        padding: 4px 0;
    }
    .film-button-proccess:hover {
        border: none;
    }

    .ant-btn-default:hover {
        border: none !important;
    }
}
