.content-VIP-package {
    padding-top: 10px;
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
    height: 100%;

    .ant-table-wrapper .ant-table-thead > tr > th {
        background-color: #222222;
        color: var(--contrast-color);
        text-align: center;
    }
    .ant-table-tbody {
        background-color: #1e1e1e;
        color: var(--contrast-color);

        .ant-table-row > .ant-table-cell-row-hover {
            background-color: #222222;
            cursor: pointer;

            a:hover {
                color: var(--primary-color);
            }
        }
    }
    table {
        border-collapse: collapse;
        text-align: center;
        .ant-table-thead tr {
            border-top-width: 0px;
        }
        tr {
            border-color: #252525;
            border-top-width: 2px;
            border-bottom-width: 0px;
        }
    }
    .ant-pagination {
        .ant-pagination-item-active {
            border: 1px solid var(--primary-color);
            color: var(--primary-color) !important;
            background-color: transparent;
        }

        .ant-pagination-item a {
            color: var(--contrast-color) !important;
        }
        .ant-pagination-disabled .ant-pagination-item-link,
        .ant-pagination-prev button,
        .ant-pagination-next button {
            color: var(--contrast-color);
        }
    }
    .btn-buy-now {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
        button,
        [type='button'] {
            color: var(--contrast-color);

            &:hover {
                background-color: var(--primary-color);
                color: var(--contrast-color) !important;
            }
            &:focus {
                outline: 2px solid var(--primary-color);
            }
        }
    }
}
