.wrapper-header-pay{
    // position: fixed;
    // background-color: transparent;
    // color: black;
    // top: 0;
    // left: 0;

    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 66px;
    z-index: var(--z-highest);
    padding-top: var(--spacing-sm-1);
    padding-bottom: var(--spacing-sm-1);

    .logo {
        margin-right: calc(var(--spacing-lg) + var(--spacing-md));
        padding-left: var(--spacing-lg);

    }
    .ant-steps-item:first-child {
        .ant-steps-item-container{
            margin-left: calc(var(--spacing-lg) * 3);
        }
        .ant-steps-item-icon{
            background: #f6d7d7;
        }
        .ant-steps-icon{
            color: var(--primary-color);
        }
        .ant-steps-item-title{
            color:var( --contrast-color) !important;
            &::after{
                background-color: var(--primary-color) !important;
            }
        }
       
    }
    .ant-steps-item:nth-child(2) {
        .ant-steps-item-icon{
            background: #f6d7d7;
        }
        .ant-steps-icon{
            color: var(--primary-color);
        }
        .ant-steps-item-title{
            color:var( --contrast-color) !important;
            &::after{
                color: var(--primary-color)  !important ;
            }
        }
       
    }
    .ant-steps-item-active {
        .ant-steps-item-icon{
            background: var(--primary-color) !important;
            border-color:var(--primary-color);
        }
        .ant-steps-icon{
            color: var( --contrast-color) !important;
        }
        .ant-steps-item-title{
            color:var( --contrast-color) !important;
            &::after{
                background-color: var(--contrast-color) !important ;
            }
        }
    }
    .ant-steps-item-wait{
        .ant-steps-item-icon{
            background: var(--contrast-color) !important;
            border-color:var(--contrast-color);
        }
        .ant-steps-icon{
            color: var( --main-color) !important;
        }
        .ant-steps-item-title{
            color:var(--contrast-color) !important;
           
        }
    } 
}