.content-related {
    .content-list-film-related {
        .film-item-container {
            width: 295px !important;
            height: 160px !important;
        }
    }

    .ant-pagination {
        margin-left: 470px !important;
    }
}
