.message-box {
    z-index: 999;
    position: fixed;
    bottom: 80px;
    right: 68px;
    width: 402px;
    height: 78%;
    border-radius: 30px;
    background-color: #121111;
    border: 1px solid #373737;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    .header-box {
        border-radius: 30px 30px 0 0;
        height: 10%;
        width: 100%;
        background-color: var(--main-color);
        display: flex;
        flex-direction: row;
        padding: 0 15px 0 15px;
        justify-content: space-between;
        border-bottom: 1px solid #252525;
    }

    .message-list {
        height: 78%;
        overflow-y: scroll;
        .header-avt {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 0;

            .admin-box {
                font-size: 26px;
                padding: 10px;
            }
        }
    }

    .message {
        padding: 9px 12px;
        margin: 0px 5px;
        border-radius: 12px;
    }
    .bot {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 3px;
    }
    .user {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 8px;
        gap: 3px;
    }
    .message.user {
        background-color: #484747;
        max-width: 65%;
        font-size: 14px;
    }
    .message.bot {
        background-color: #222121;
        max-width: 65%;
        font-size: 14px;
    }

    .input-box {
        display: flex;
        height: 58px;
        padding: 8px;
        margin: 0 18px 10px 12px;
    }

    .input-box input {
        flex: 1;
        margin-right: 12px;
        padding: 0 8px;
        border-radius: 20px;
        background-color: #282829;
    }
    .message-list::-webkit-scrollbar {
        width: 8px;
    }

    .message-list::-webkit-scrollbar-thumb {
        background-color: #3d3d3d;
        border-radius: 4px;
    }

    .message-list::-webkit-scrollbar-track {
        background-color: #222121;
    }
}
