@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
:root {
    /*spacing*/
    --spacing-sm: 2px;
    --spacing-sm-1: 5px;
    --spacing-sm-2: 10px;
    --spacing-md: 20px;
    --spacing-lg: 40px;

    /*color*/
    --primary-color: #ff0000;
    --contrast-color: #ffffff;
    --main-color: #111111;
    --sub-color: #868686;

    /*font size*/
    --font-s-sm: 0.6rem;
    --font-s-sm-1: 0.8rem;
    --font-s-md: 1rem;
    --font-s-md-1: 1.2rem;
    --font-s-lg: 1.4rem;

    /* border radius */
    --border-r-sm: 5px;
    --border-r-md: 10px;
    --border-radius-mch: 9999px;

    /* z-index */
    --z-highest: 99;
    --z-higher: 9;
    --z-high: 1;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    font-size: 93.75%;
    height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

#root {
    height: 100%;
}

button {
    border: none;
}

a,
Link {
    color: var(--contrast-color);
    text-decoration: none;
}

button,
input,
textarea {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
