.list-film-history {
    .header-list-film {
        display: flex;
        align-items: center;
    }
    .header-list-film-icon {
        font-size: var(--font-s-lg-1);
        margin-right: var(--spacing-sm-2);
        color: var(--primary-color);
    }
    .content-list-film {
        margin-top: var(--spacing-md);
    }
    .film-item {
        display: flex;
        justify-content: center;
    }
    .footer-list-film {
        display: flex;
        justify-content: center;
        margin-top: var(--spacing-lg);

        .ant-pagination .ant-pagination-item-active {
            border: 1px solid var(--primary-color);
            color: var(--primary-color) !important;
            background-color: transparent;
        }

        .ant-pagination .ant-pagination-item a {
            color: var(--contrast-color) !important;
        }
    }
}
