.ant-steps-icon-dot {
    background-color: rgb(130, 131, 135) !important;
}

.ant-steps-item-tail::after {
    background-color: rgb(45, 47, 52) !important;
}

.ant-steps-item-icon {
    width: 10px !important;
    height: 10px !important;
    left: 4% !important;
}

.ant-steps-item-title {
    font-size: 13px !important;
    color: rgb(188, 189, 190) !important;
    margin-left: 10px !important;
}

.ant-steps-item-containe {
    margin-left: 20px !important;
}
